.list {
	background-color: black;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer .footer-text a{
    font-size:20px!important;
    font-size:20px!important;
}

#main {
	background-color: black;
	padding-bottom: 121px;
	padding-top: 100px;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.jobtitles {
	font-family: 'Raleway', sans-serif;
}

nav {
	z-index: 10000;
	position: fixed !important;
	width: 100%;
	top: 0;
}

nav .list-group-item,footer .list-group-item{
    background-color: inherit;
    border: 0px;
}

footer .list-group-item{
    margin-right:auto;
    margin-left:auto;
}
.blackhole {
	background-image: url("blackhole.gif");
	background-position: center;
	background-size: contain;
}

section {
	padding-bottom: 100px;
	padding-top: 100px;
	border-bottom: 1px solid white;
}

section h1 {
	padding-bottom: 30px;
}

@media (max-width:1100px) {
	p {
		font-size: 40px !important;
	}

	.jobtitles {
		font-size: 35px !important;
		font-weight: 100!important;
	}

	.jobtitles .border-end {
		border-right: 0px !important;
		border-bottom: 1px solid #dee2e6!important
	}

	a {
		font-size: 50px !important;
	}

	.card-title {
		font-size: 50px !important;
	}

	a .fab {
		font-size: 80px !important;
	}

	.container-padding {
		padding-top: 400px;
	}

	.navbar-toggler-icon {
        width: 3.5em;
        height: 3.5em;
   }

   footer .footer-text{
        display:block;
   }
   #privacy h2 h1{

		font-size: 60px !important;
   }
    #privacy ul li{

		font-size: 40px !important;
}