{% extends "base.html" %}
{% block content %}
    {% for i in range(0,pageslen) %}
        {% if pages[i].is_section %}
            <!-- section with bio information -->
            <section id="{{ pages[i].url[2:] }}">

                <div class="bio">
                    <div class="summary">
                        <h1 >{{ pages[i].title }}</h1>
                        <div class="content-container">
                            <p class="lead">{{ pages[i].content}}</p>

                        </div>
                    </div>

                    <div class= "blackhole">

                    </div>
                </div>

            </section>
        {% endif %}
    {% endfor %}
<!-- section with name and job titles -->
    <section>
        <div class="titles">
            <h2 class="name">MARION AKINYI</h2>
            <div class="job-titles">
                <div><h2>DATA ANALYST</h2></div>
                <div><h2>SOFTWARE DEVELOPER</h2></div>
            </div>
            </div>

    </section>
<!-- section with leads containing snapshots of projects -->
    <section>
            <h1 class="projects-heading">PROJECTS</h1>

        <div class="lead-ins">
            {% for i in range(0,projectslen) %}
                    <div class="lead-in">
                        <img class="lead-in-img" src="{{ projects_list[i].thumbnail }}" alt="{{ projects_list[i].image_alt_text }}">
                        <div class="lead-in-body">
                            <h2 class="lead-in-title">{{ projects_list[i].name }}</h2>
                            <p class="lead-in-date">published: {{projects_list[i].published}} </p>
                            <p class="lead-in-text">{{ projects_list[i].summary }}</p>
                            <a href="/#{{ projects_list[i].id }}" class="button">learn more</a>
                        </div>
                    </div>

            {% endfor %}
        </div>

    </section>
    <!-- Project blog section -->
    {% for i in range(0,projectslen) %}
        <article class="post" id="{{ projects_list[i].id }}">
            <div>
                <h1 class="post-title">{{ projects_list[i].name }}</h1>
                <p class="lead-in-date">published: {{projects_list[i].published}} </p>
            </div>
            <div class="post-content">
                <div class="post-image-container">
                    <img src="{{ projects_list[i].image }}" alt="{{ projects_list[i].image_alt_text }}">
                </div>
                <div class="post-description">
                    {{ projects_list[i].description|safe }}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}
